<div>
    Search:
</div>
<div>
    <form method="POST" action="/search/">
        {% csrf_token %}
        <input type="text" name="symbol"/>
        <br/>
        <input type="submit" name="search" value="Search"/>
    </form>
</div>
<div>
    <p>{{info.zip}}</p>
    <table>
        <tr>
        {% for key, value in history.items %}
            <td style="padding:10px; border-right:1px grey solid">
                {{key}}
                {% for key2, value2 in value.items %}
                    <p>{{key2}} - {{value2}}</p>
                {% endfor %}
            </td>
        {% endfor %}
        </tr>  
    </table>
</div>